
Docs/~$новни идеи.docx
Docs/Източници/~$лежки - източници.docx
Scan-y/.idea/workspace.xml
Scan-y/.idea/vcs.xml
Docs/~$невник.odt
Docs/Източници/~$mera calibration.docx
Docs/Източници/~WRL1155.tmp
*.pyc
Docs/~WRL0003.tmp
Scan-y/structuredlight/cameraPi.py
Scan-y/structuredlight/projector.py
Scan-y/structuredlight/turntable.py
Docs/Изисквания/~$VASproj.pptx
Docs/Дипломна/~WRL2125.tmp
Docs/Дипломна/~WRL0001.tmp
Docs/Дипломна/~$mplomna_Elitsa_Venchova_25992.doc
Docs/Дипломна/~WRL0003.tmp
