
Docs/~$новни идеи.docx
Docs/Източници/~$лежки - източници.docx
Scan-y/.idea/workspace.xml
Scan-y/.idea/vcs.xml
Docs/~$невник.odt
Docs/Източници/~$mera calibration.docx
Docs/Източници/~WRL1155.tmp
*.pyc
Docs/~WRL0003.tmp
Scan-y/structuredlight/cameraPi.py
Scan-y/structuredlight/projector.py
Scan-y/structuredlight/turntable.py
Docs/Изисквания/~$VASproj.pptx
Docs/Дипломна/~WRL2125.tmp
Docs/Дипломна/~WRL0001.tmp
Docs/Дипломна/~$mplomna_Elitsa_Venchova_25992.doc
Docs/Дипломна/~WRL0003.tmp
*.tmp
Scan-y/Projector_Calib/tmpPattern.jpg
Scan-y/Projector_Calib/tmpPattern.jpg
Scan-y/Img0Mask.jpg
Scan-y/Img100Mask.jpg
Scan-y/Img10Mask.jpg
Scan-y/Img110Mask.jpg
Scan-y/Img120Mask.jpg
Scan-y/Img130Mask.jpg
Scan-y/Img160Mask.jpg
Scan-y/Img180Mask.jpg
Scan-y/Img170Mask.jpg
Scan-y/Img150Mask.jpg
Scan-y/Img190Mask.jpg
Scan-y/Img20Mask.jpg
Scan-y/Img30Mask.jpg
Scan-y/Img40Mask.jpg
Scan-y/Img50Mask.jpg
Scan-y/Img60Mask.jpg
Scan-y/Img70Mask.jpg
Scan-y/Img80Mask.jpg
Scan-y/Img90Mask.jpg
Scan-y/Img140Mask.jpg
Scan-y/copy_of_fragment.ply
Docs/Дипломна/~$бележки.docx
Docs/Дипломна/Забележки.docx
Docs/Дипломна/~$mplomna_Elitsa_Venchova_25992.docx
