<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style.css" rel="stylesheet" type="text/css">
<title>Scan-y</title>
</head>
<body>
    <div id="element2">
        <p>What city has the best climate?</p>
        <p>When planning your trip or vacation you often check weather data for
                humidity and temperature.</p>
        <p>Below is the collection of the yearly average values for the following cities: </p>
        <!-- <ul>
                {% for city_id, city_name in cities %}
                <li><a href="">{{ city_name }}</a></li>
                {% endfor %}
        </ul> -->
    </div>
</body>
</html>